:global {
  @import 'base';

  .hero .header .container {
    box-shadow:  0 0 0;
  }
  article.media {
    padding: 20px 20px 20px 20px;
  }
  textarea {
    font-size: 14px;
  }
  .threadTitle {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid rgba(211,214,219,0.8);
  }
  .threadContainer {
    background: #fff;
    border: 1px solid rgba(211,214,219, 0.7);
    margin-top: '10px';
  }
}
